*.o
*.crf
*.htm
*.bin
*.axf
*.uvoptx
*.map
*.dep
*.d
application/EM300-T1/US00-00/Inc/git_version.h
*.Administrator
*._ia
*.__i
*.hex
*.lst
*.lnp
*.uvguix.*

.metadata
.vscode
workspace
*/.mxproject
**/Debug/
**/.settings/
